img.home-page {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -15;
}
.line-legend li .line-legend-text {
  position: relative;
}

.landing-page {
  margin-top: 20%;
}

.landing-page label {
  color: white;
}

#averageScore{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 10%;
  margin: 50px;
  text-align: center;
}

#averageScore div{
  text-align: center;
  margin-left: -25px;
  margin-top: -25px;
}
.text-score {
  font-size: 18px;
}

.yellow {
  font-size: 20px;
  color: #cccc00;
  text-shadow: #000 0px 0px 1px;
}

.red {
  font-size: 20px;
  color: red;
  text-shadow: #000 0px 0px 1px;
}

.green {
  font-size: 20px;
  color: green;
  text-shadow: #000 0px 0px 1px;
}

.panel-body {
  background-color: #d1d1e0;
}

