<div class="col-lg-6 col-sm-12 ng-scope" id="line-chart">
  <div class="panel panel-default">
    <div class="panel-heading">You conversation sucks</div>
    <div class='panel-body'>
      <div class="chart-container">
        <canvas id="line" class="chart chart-line" chart-options="chartOptions" chart-data="data"
        chart-labels="labels" chart-legend="true" chart-series="series"
        chart-click="onClick" chart-hover = "onHover">
        </canvas>
          <div class="text-center text-avg">Avg:
          <span ng-class="{red: average <= -0.2, green: average >= 0.2, yellow: -0.2 < average > 0.2  }">{{average}}</span>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class='col-lg-12 col-sm-12 ng-scope'>
  <div id="result"></div>
  <div class='center-block'>
</div>
