<img class="home-page" src="https://pixabay.com/static/uploads/photo/2015/12/03/09/33/microphone-1074362_960_720.jpg"/>
<div class="container">
    <div class='about landing-page'>
      <label>
      Word Clip - Easily analyze your speech sentiment and how you are perceived.<br><br>

      Instructions: <br>
      1.) Upload your audio file or link.<br><br>
      2.) Hover over chart to see how your words is being perceived
      <br>on a scaled of 1 to -1 (positive & negative verbiage).


      </label>
    </div>

  <div class="text-center landing-page">
<!--     <form name='myAudio'>
      <label>Audio Link</label>
      <input type="text" id="inputLink" size="100" ng-model="audioUrl"/></br>
      <a href="#/sample" id='uploadLink'class='btn btn-primary'/>Upload Link</a>
    </form>
 -->
  </div>
</div>
