<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
</canvas>
  <div id='averageScore' class='img-rounded bg-success text-center'>
  {{average}}
  </div>
  <div>
    <form name='myAudio'>
      <label>Audio Link</label>
      <input type="text" id="inputLink" size="100" value="https://www.havenondemand.com/sample-content/videos/hpnext.mp4"/></br>
      <input type="button" id='uploadLink'class='btn btn-primary' value="Upload Link" onclick="testSpeechRecognition()"/>
    </form>
    <div id="result"></div>
    <div class='center-block'>
      <button class='btn btn-primary' id='uploadFile'>Upload File</button>


      <button class='btn btn-primary' id='recordFile'>Record Live</button><br>
    </div>
  </div>
